body {
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    background-image: url("./photos/fondo3.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

#name-window h {
    font-size: 5em;
    color: white;
}

#name-window h1 {
    color: white;
}

.modal {
    position: fixed;
    text-align: center;
    z-index: 3;
    width: 100%;
    height: 100%;
}

.modal-content {
    background-image: url("./photos/fondo.jpg");
    border: 1px solid #888;
    height: 100%;
    z-index: 3;
}

.l-line {
    border-left: 1px solid #999;
    height: 94%;
    left: 90%;
    position: absolute;
    z-index: 2;
}

.r-line {
    border-left: 1px solid #999;
    height: 94%;
    left: 10%;
    position: absolute;
    z-index: 2;
}

#message-container {
    width: 80%;
    max-width: 1200px;
    padding-bottom: 52px;
    overflow-y: scroll;
    scroll-behavior: smooth;
}

#message-container div {
    background-color: rgba(128, 128, 128, .5);
    padding: 5px;
}

#message-container div:nth-child(2n) {
    background-color: rgba(255, 255, 255, .5);
    ;
}

#send-container {
    position: fixed;
    padding-bottom: 30px;
    bottom: 0;
    background-color: white;
    max-width: 1200px;
    width: 80%;
    display: flex;
    background-image: url("./photos/fondo3.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

#message-input {
    flex-grow: 1;
}